@page
@model RegisterModel

@{
    ViewData["Title"] = "Cadastro";
    Layout = "_AuthLayout.cshtml";
}

<div class="text-center mb-4">
    <h2 class="fw-bold">Cadastre-se</h2>
    <p class="text-muted">Junte-se ao Duo Rico e comece a prosperar.</p>
</div>

<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

    <div class="form-floating mb-3">
        <input asp-for="Input.Name" class="form-control" autocomplete="name" aria-required="true" placeholder="Seu nome completo" />
        <label asp-for="Input.Name">Nome completo</label>
        <span asp-validation-for="Input.Name" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="seu@email.com" />
        <label asp-for="Input.Email">E-mail</label>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3 position-relative">
        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Crie uma senha forte" />
        <label asp-for="Input.Password">Senha</label>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3 position-relative">
        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirme sua senha" />
        <label asp-for="Input.ConfirmPassword">Confirme sua senha</label>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="d-grid mb-3">
        <button id="registerSubmit" type="submit" class="btn btn-warning btn-lg text-white">Cadastrar</button>
    </div>

    <div class="text-center">
        <p>Já tem uma conta? <a asp-page="./Login" class="link-warning">Faça login</a></p>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <!-- Dinâmica do botão "Entrar" para ser desativado assim que for clicado-->
    <script>
        const form = document.getElementById("registerForm");
        const submitButton = document.getElementById("registerSubmit");

        form.addEventListener("submit", function() {
            // Desabilita o botão de submit
            submitButton.disabled = true;
            // Muda o texto do botão para "Entrando..."
            submitButton.textContent = "Cadastrando...";
        });
    </script>
}