<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Duo Rico</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DuoRico.styles.css" asp-append-version="true" />

    <!-- Ícones do Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

    <!-- Fonter Inter-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white box-shadow mb-3 d-flex">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <i class="bi bi-currency-exchange fs-2 text-warning"></i>
                    <span class="fs-3 fw-bold text-secondary">Duo Rico</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-list fs-1"></i>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 gap-3 my-4 my-md-0">
                        <a class="btn btn-success" asp-page="/Transactions/Index" asp-route-type="Income">
                            <i class="bi bi-arrow-up-circle fs-5 me-1"></i>
                            Receitas
                        </a>
                        <a class="btn btn-danger" asp-page="/Transactions/Index" asp-route-type="Expense">
                            <i class="bi bi-arrow-down-circle fs-5 me-1"></i>
                            Despesas
                        </a>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="mb-5">
            @RenderBody()
        </main>
    </div>

    <footer class="footer d-flex align-items-center justify-content-center gap-2 pt-4">
            &copy; @DateTime.Now.Year<span><i class="bi bi-currency-exchange text-muted"></i></span>Duo Rico
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>