@using Microsoft.AspNetCore.Identity
@using DuoRico.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="navbar-nav flex-row align-items-center justify-content-center gap-2">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);

        <div asp-area="Identity" title="Manage">Olá, @user?.Name</div>

        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button type="submit" class="btn btn-outline-secondary">Sair</button>
        </form>
    }
</div>